#content{
    display:flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 500px;
    height: 580px;
    border-radius: 8px;
    border: 1px solid rgb(3, 98, 149);
    padding-bottom: 20px;
}
.total{
    display: flex;
    justify-content: center;
    margin-top: -30px;

    width: 80%;
    height: 50px;


}
.numero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 180px;
    height: 60px;;
    border: 1px solid #2e25a5;
    color:#0521ac;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2rem;
}
.h1_{
    margin-left: auto;
    margin-right: 103px;
    text-align: center;
    width: 190px;
    color:#0026ad;
}
.reflesh{
    margin-top: 23px;
    margin-right: 20px;
    width: 25px;
    height: 25px;
    
    z-index: 10;
}
.reflesh:hover{
    cursor: pointer;
}
.reflesh:active{
    opacity: 0.5;

}
.mais:active{
    opacity: 0.5;

}
.menos:active{
    opacity: 0.5;

}
.picture
{
    /* border: 1px solid black; */
    width: 180px;
    height: 190px;
}
.img_homem{
    width: 180px;
    height: 190px;
}
.img_mulher{
    width: 180px;
    height: 190px;
}
.titulo{
    width: 180px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color:#0026ad;
    padding: 0;
}


.score{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 180px;
 border-bottom: 80px; 

}



.bts{

    width: 60px;
}

.menos{
    margin-top: 39px;
    margin-left: 30px;
    width: 34px;
    height: 35px;
   
}
.mais{
    margin-top: 30px;
    margin-left: -5px;
    width: 50px;
    height: 50px;
 }
.mais,.menos:hover{
    cursor: pointer;
}
 